<?xml version="1.0"?>
<config>
    <modules>
        <AAIT_Factoring>
            <!-- declare module's version information for database updates -->
            <version>1.0.19</version>
        </AAIT_Factoring>
    </modules>

    <global>
        <!-- declare model group for new module -->
        <models>
            <!-- model group alias to be used in Mage::getModel('newmodule/...') -->
            <factoring>
                <!-- base class name for the model group -->
                <class>AAIT_Factoring_Model</class>
            </factoring>
        </models>

        <!-- IMPORTANT: if you use your own namespace (i.e. CompanyName) you also have to declare blocks group for new module. See topic: http://www.magentocommerce.com/boards/viewthread/22416/#t102732 -->
        <blocks>
            <factoring>
                <class>AAIT_Factoring_Block</class>
            </factoring>
        </blocks>

        <helpers>
            <factoring>
                <class>AAIT_Factoring_Helper</class>
            </factoring>
        </helpers>

        <!-- declare resource setup for new module -->
        <resources>
            <!-- resource identifier -->
            <factoring_setup>
                <!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
                    <!-- which module to look for install/upgrade files in -->
                    <module>AAIT_Factoring</module>
                </setup>
                <!-- specify database connection for this resource -->
                <connection>
                    <!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </factoring_setup>
            <factoring_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </factoring_write>
            <factoring_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </factoring_read>
        </resources>

        <sales>
            <quote>
                <totals>
                    <factoring>
                        <class>factoring/quote_total</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                        <renderer>factoring/checkout_fee</renderer>
                        <admin_renderer>factoring/adminhtml_sales_order_create_totals_fee</admin_renderer>
                    </factoring>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <factoring>
                        <class>factoring/invoice_total</class>
                    </factoring>
                </totals>
            </order_invoice>
        </sales>

        <events>
            <sales_order_invoice_save_after>
                <observers>
                    <factoring>
                        <type>singleton</type>
                        <class>factoring/observer</class>
                        <method>sales_order_invoice_save_after</method>
                    </factoring>
                </observers>
            </sales_order_invoice_save_after>
            <sales_quote_collect_totals_after>
                <observers>
                    <factoring>
                        <type>singleton</type>
                        <class>factoring/observer</class>
                        <method>sales_quote_collect_totals_after</method>
                    </factoring>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_order_payment_place_end>
                <observers>
                    <factoring>
                        <type>singleton</type>
                        <class>factoring/observer</class>
                        <method>sales_order_payment_place_end</method>
                    </factoring>
                </observers>
            </sales_order_payment_place_end>
        </events>
    </global>

    <!-- declare default configuration values for this module -->
    <default>
        <!-- 'payment' configuration section (tab) -->
        <payment>
            <!-- 'newmodule' configuration group (fieldset) -->
            <factoring>
                <!-- by default this payment method is inactive -->
                <active>1</active>
                <!-- model to handle logic for this payment method -->
                <model>factoring/payment</model>
                <!-- default title for payment checkout page and order view page -->
                <title>Payex Factoring</title>
                <mode>FINANCING</mode>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>complete</order_status_capture>
                <clientlanguage>en-US</clientlanguage>
                <paymentfee>0</paymentfee>
                <cleantime>20</cleantime>
            </factoring>
        </payment>
    </default>

    <adminhtml>
        <!-- Translations... -->
        <translate>
            <modules>
                <AAIT_Factoring>
                    <files>
                        <default>AAIT_Factoring.csv</default>
                    </files>
                </AAIT_Factoring>
            </modules>
        </translate>

        <!-- Updates layout... -->
        <layout>
            <updates>
                <factoring>
                    <file>factoring.xml</file>
                </factoring>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <!-- Routes... -->
        <routers>
            <factoring>
                <use>standard</use>
                <args>
                    <module>AAIT_Factoring</module>
                    <frontName>factoring</frontName>
                </args>
            </factoring>
        </routers>

        <!-- Translations... -->
        <translate>
            <modules>
                <AAIT_Factoring>
                    <files>
                        <default>AAIT_Factoring.csv</default>
                    </files>
                </AAIT_Factoring>
            </modules>
        </translate>

        <!-- Updates layout... -->
        <layout>
            <updates>
                <factoring>
                    <file>factoring.xml</file>
                </factoring>
            </updates>
        </layout>
    </frontend>

    <crontab>
        <jobs>
            <factoring_clean_pending_orders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>factoring/observer::cleanPendingOrders</model>
                </run>
            </factoring_clean_pending_orders>
        </jobs>
    </crontab>
</config>
