<?xml version="1.0"?>
<config>
    <modules>
        <AAIT_Payexapi>
            <!-- declare module's version information for database updates -->
            <version>2.0.4</version>
        </AAIT_Payexapi>
    </modules>

    <global>
        <!-- declare model group for new module -->
        <models>
            <!-- model group alias to be used in Mage::getModel('newmodule/...') -->
            <payexapi>
                <!-- base class name for the model group -->
                <class>AAIT_Payexapi_Model</class>
            </payexapi>
        </models>

        <!-- IMPORTANT: if you use your own namespace (i.e. CompanyName) you also have to declare blocks group for new module. See topic: http://www.magentocommerce.com/boards/viewthread/22416/#t102732 -->
        <blocks>
            <payexapi>
                <class>AAIT_Payexapi_Block</class>
            </payexapi>
        </blocks>

        <helpers>
            <payexapi>
                <class>AAIT_Payexapi_Helper</class>
            </payexapi>
        </helpers>

        <!-- declare resource setup for new module -->
        <resources>
            <!-- resource identifier -->
            <payexapi_setup>
                <!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
                    <!-- which module to look for install/upgrade files in -->
                    <module>AAIT_Payexapi</module>
                </setup>
                <!-- specify database connection for this resource -->
                <connection>
                    <!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </payexapi_setup>
            <payexapi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payexapi_write>
            <payexapi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payexapi_read>
        </resources>
    </global>

    <!-- declare default configuration values for this module -->
    <default>
        <!-- 'payment' configuration section (tab) -->
        <payment>
            <!-- 'newmodule' configuration group (fieldset) -->
            <payexapi>
                <!-- by default this payment method is inactive -->
                <active>0</active>
            </payexapi>
        </payment>
    </default>

    <frontend>
        <!-- Define routes -->
        <routers>
            <payexapi>
                <use>standard</use>
                <args>
                    <module>AAIT_Payexapi</module>
                    <frontName>payexapi</frontName>
                </args>
            </payexapi>
        </routers>
    </frontend>
</config>
