<?xml version="1.0"?>
<config>
   <sections>
<!-- payment tab -->
        <payment>
            <groups>
<!-- newmodule fieldset -->
                <payexapi translate="label" module="paygate">
<!-- will have title 'New Module' -->
                    <label>PayEx Transaction Callback</label>
<!-- position between other payment methods -->
                    <sort_order>600</sort_order>
<!-- do not show this configuration options in store scope -->
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[This module provides PayEx Transaction Callback and PayEx API supports. Use <a href="/index.php/payexapi/payexapi/transactions" target="_blank">this URL</a> as a Transaction Callback. For details, see page <a href="http://www.payexpim.com/quick-guide/9-transaction-callback/" target="_blank">PayEx PIM</a>.]]></comment>
                    <fields>
                        <!-- is this payment method active for the website? -->
                        <active translate="label">
                            <!-- label for the field -->
                            <label>Enabled</label>
                            <!-- input type for configuration value -->
                            <frontend_type>select</frontend_type>
                            <!-- model to take the option values from -->
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <!-- field position -->
                            <sort_order>1</sort_order>
                            <!-- do not show this field in store scope -->
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                    </fields>
                </payexapi>
            </groups>
        </payment>
    </sections>
</config>
