#payex-settings-hint {
    background: #2DA944;
    border: 1px solid #00AF64;
    margin-bottom: 10px;
    padding: 10px 10px 10px 200px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

#payex-settings-hint a {
    color: #fff;
}

#payex-settings-hint h4, #payex-settings-hint p {
    margin: 0;
}

#payex-settings-hint .last-version {
    color: #D54E06;
    font-weight: bold;
}
