<?xml version="1.0"?>
<config>
    <modules>
        <AAIT_SocialSecurityNumber>
            <version>0.1.0</version>
        </AAIT_SocialSecurityNumber>
    </modules>

    <global>
        <helpers>
            <aait_ssn>
                <class>AAIT_SocialSecurityNumber_Helper</class>
            </aait_ssn>
        </helpers>
    </global>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aait_ssn>
                                            <title>Social Security Number</title>
                                        </aait_ssn>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <frontend>
        <routers>
            <aait_ssn>
                <use>standard</use>
                <args>
                    <module>AAIT_SocialSecurityNumber</module>
                    <frontName>social_security_number</frontName>
                </args>
            </aait_ssn>
        </routers>

        <layout>
            <updates>
                <aait_ssn>
                    <file>aait_ssn/social_security_number.xml</file>
                </aait_ssn>
            </updates>
        </layout>

    </frontend>
</config>