<?xml version="1.0"?>
<config>
    <modules>
        <AAIT_Payexautopay>
            <!-- declare module's version information for database updates -->
            <version>2.0.28</version>
        </AAIT_Payexautopay>
    </modules>

    <global>
        <!-- declare model group for new module -->
        <models>
            <!-- model group alias to be used in Mage::getModel('newmodule/...') -->
            <payexautopay>
                <!-- base class name for the model group -->
                <class>AAIT_Payexautopay_Model</class>
                <resourceModel>payexautopay_mysql4</resourceModel>
            </payexautopay>
            <payexautopay_mysql4>
                <class>AAIT_Payexautopay_Model_Mysql4</class>
                <entities>
                    <payexautopay_agreement>
                        <table>payexautopay_agreement</table>
                    </payexautopay_agreement>
                </entities>
            </payexautopay_mysql4>
        </models>

        <!-- IMPORTANT: if you use your own namespace (i.e. CompanyName) you also have to declare blocks group for new module. See topic: http://www.magentocommerce.com/boards/viewthread/22416/#t102732 -->
        <blocks>
            <payexautopay>
                <class>AAIT_Payexautopay_Block</class>
            </payexautopay>
        </blocks>

        <helpers>
            <payexautopay>
                <class>AAIT_Payexautopay_Helper</class>
            </payexautopay>
        </helpers>

        <!-- declare resource setup for new module -->
        <resources>
            <!-- resource identifier -->
            <payexautopay_setup>
                <!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
                    <!-- which module to look for install/upgrade files in -->
                    <module>AAIT_Payexautopay</module>
                </setup>
                <!-- specify database connection for this resource -->
                <connection>
                    <!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </payexautopay_setup>
            <payexautopay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payexautopay_write>
            <payexautopay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payexautopay_read>
        </resources>

        <events>
            <sales_order_invoice_save_after>
                <observers>
                    <payexautopay>
                        <type>singleton</type>
                        <class>payexautopay/observer</class>
                        <method>sales_order_invoice_save_after</method>
                    </payexautopay>
                </observers>
            </sales_order_invoice_save_after>
        </events>
    </global>

    <!-- declare default configuration values for this module -->
    <default>
        <!-- 'payment' configuration section (tab) -->
        <payment>
            <!-- 'newmodule' configuration group (fieldset) -->
            <payexautopay>
                <!-- by default this payment method is inactive -->
                <active>1</active>
                <!-- model to handle logic for this payment method -->
                <model>payexautopay/payment</model>
                <!-- order status for new orders paid by this payment method -->
                <order_status>1</order_status>
                <!-- default title for payment checkout page and order view page -->
                <title>Payex Credit Card Autopay</title>
                <allowspecific>0</allowspecific>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <transactiontype>1</transactiontype>
                <debug>1</debug>
                <order_status>1</order_status>
                <clientlanguage>en-US</clientlanguage>
                <agreementurl>http://example.com</agreementurl>
                <maxamount>1000</maxamount>
                <cleantime>20</cleantime>
                <responsive>0</responsive>
            </payexautopay>
        </payment>
    </default>

    <frontend>
        <!-- Routes... -->
        <routers>
            <payexautopay>
                <use>standard</use>
                <args>
                    <module>AAIT_Payexautopay</module>
                    <frontName>payexautopay</frontName>
                </args>
            </payexautopay>
        </routers>

        <!-- Translations... -->
        <translate>
            <modules>
                <AAIT_Payexautopay>
                    <files>
                        <default>AAIT_Payexautopay.csv</default>
                    </files>
                </AAIT_Payexautopay>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <!-- Updates layout... -->
        <layout>
            <updates>
                <payexautopay>
                    <file>payexautopay_admin.xml</file>
                </payexautopay>
            </updates>
        </layout>
    </adminhtml>

    <crontab>
        <jobs>
            <payexautopay_clean_pending_orders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>payexautopay/observer::cleanPendingOrders</model>
                </run>
            </payexautopay_clean_pending_orders>
        </jobs>
    </crontab>
</config>
