<?xml version="1.0"?>
<config>
    <modules>
        <AAIT_Wywallet>
            <!-- declare module's version information for database updates -->
            <version>1.0.7</version>
        </AAIT_Wywallet>
    </modules>

    <global>
        <!-- declare model group for new module -->
        <models>
            <!-- model group alias to be used in Mage::getModel('newmodule/...') -->
            <wywallet>
                <!-- base class name for the model group -->
                <class>AAIT_Wywallet_Model</class>
            </wywallet>
        </models>

        <!-- IMPORTANT: if you use your own namespace (i.e. CompanyName) you also have to declare blocks group for new module. See topic: http://www.magentocommerce.com/boards/viewthread/22416/#t102732 -->
        <blocks>
            <wywallet>
                <class>AAIT_Wywallet_Block</class>
            </wywallet>
        </blocks>

        <helpers>
            <wywallet>
                <class>AAIT_Wywallet_Helper</class>
            </wywallet>
        </helpers>

        <!-- declare resource setup for new module -->
        <resources>
            <!-- resource identifier -->
            <wywallet_setup>
                <!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
                    <!-- which module to look for install/upgrade files in -->
                    <module>AAIT_Wywallet</module>
                </setup>
                <!-- specify database connection for this resource -->
                <connection>
                    <!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </wywallet_setup>
            <wywallet_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wywallet_write>
            <wywallet_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wywallet_read>
        </resources>

        <events>
            <sales_order_invoice_save_after>
                <observers>
                    <wywallet>
                        <type>singleton</type>
                        <class>wywallet/observer</class>
                        <method>sales_order_invoice_save_after</method>
                    </wywallet>
                </observers>
            </sales_order_invoice_save_after>
        </events>
    </global>

    <!-- declare default configuration values for this module -->
    <default>
        <!-- 'payment' configuration section (tab) -->
        <payment>
            <!-- 'newmodule' configuration group (fieldset) -->
            <wywallet>
                <!-- by default this payment method is inactive -->
                <active>1</active>
                <!-- model to handle logic for this payment method -->
                <model>wywallet/payment</model>
                <!-- default title for payment checkout page and order view page -->
                <title>Payex WyWallet</title>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <transactiontype>1</transactiontype>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>complete</order_status_capture>
                <clientlanguage>en-US</clientlanguage>
                <cleantime>20</cleantime>
                <responsive>0</responsive>
            </wywallet>
        </payment>
    </default>

    <adminhtml>
        <!-- Updates layout... -->
        <layout>
            <updates>
                <wywallet>
                    <file>wywallet_admin.xml</file>
                </wywallet>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <!-- Routes... -->
        <routers>
            <wywallet>
                <use>standard</use>
                <args>
                    <module>AAIT_Wywallet</module>
                    <frontName>wywallet</frontName>
                </args>
            </wywallet>
        </routers>

        <!-- Translations... -->
        <translate>
            <modules>
                <AAIT_Wywallet>
                    <files>
                        <default>AAIT_Wywallet.csv</default>
                    </files>
                </AAIT_Wywallet>
            </modules>
        </translate>

        <!-- Updates layout... -->
        <layout>
            <updates>
                <wywallet>
                    <file>wywallet.xml</file>
                </wywallet>
            </updates>
        </layout>
    </frontend>

    <crontab>
        <jobs>
            <wywallet_clean_pending_orders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>wywallet/observer::cleanPendingOrders</model>
                </run>
            </wywallet_clean_pending_orders>
        </jobs>
    </crontab>
</config>
