<?xml version="1.0"?>
<config>
    <modules>
        <PayEx_Payments>
            <!-- declare module's version information for database updates -->
            <version>3.1.4</version>
        </PayEx_Payments>
    </modules>

    <global>
        <!-- declare model group for new module -->
        <models>
            <!-- model group alias to be used in Mage::getModel('newmodule/...') -->
            <payex>
                <!-- base class name for the model group -->
                <class>PayEx_Payments_Model</class>
                <!-- base class name for the resource model group -->
                <resourceModel>payex_mysql4</resourceModel>
            </payex>

            <!-- <payex_mysql4>
                <class>PayEx_Payments_Model_Mysql4</class>
                <entities>
                    <payex_agreement>
                        <table>payexautopay_agreement</table>
                    </payex_agreement>
                </entities>
            </payex_mysql4> -->
        </models>

        <!-- IMPORTANT: if you use your own namespace (i.e. CompanyName) you also have to declare blocks group for new module. See topic: http://www.magentocommerce.com/boards/viewthread/22416/#t102732 -->
        <blocks>
            <payex>
                <class>PayEx_Payments_Block</class>
            </payex>
        </blocks>

        <helpers>
            <payex>
                <class>PayEx_Payments_Helper</class>
            </payex>
        </helpers>

        <!-- declare resource setup for new module -->
        <resources>
            <!-- resource identifier -->
            <payex_setup>
                <!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
                    <!-- which module to look for install/upgrade files in -->
                    <module>PayEx_Payments</module>
                </setup>
                <!-- specify database connection for this resource -->
                <connection>
                    <!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </payex_setup>
            <payex_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payex_write>
            <payex_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payex_read>
        </resources>

        <sales>
            <quote>
                <totals>
                    <payex_payment_fee>
                        <class>payex/quote_total</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                        <renderer>payex/checkout_fee</renderer>
                        <!-- <admin_renderer>payex/adminhtml_sales_order_create_totals_fee</admin_renderer> -->
                    </payex_payment_fee>
                    <payex_payment_fee_tax>
                        <class>payex/quote_tax</class>
                        <after>subtotal,discount,shipping,tax</after>
                        <before>grand_total</before>
                    </payex_payment_fee_tax>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <payex_payment_fee>
                        <class>payex/invoice_total</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </payex_payment_fee>
                    <payex_payment_fee_tax>
                        <class>payex/invoice_tax</class>
                        <after>subtotal,discount,shipping,tax</after>
                        <before>grand_total</before>
                    </payex_payment_fee_tax>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <payex_payment_fee>
                        <class>payex/creditmemo_total</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </payex_payment_fee>
                    <payex_payment_fee_tax>
                        <class>payex/creditmemo_tax</class>
                        <after>subtotal,discount,shipping,tax</after>
                        <before>grand_total</before>
                    </payex_payment_fee_tax>
                </totals>
            </order_creditmemo>
        </sales>

        <pdf>
            <totals>
                <payex_payment_fee translate="title">
                    <title>Payment fee</title>
                    <source_field>payment_fee</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>550</sort_order>
                    <model>payex/invoice_pdf_total</model>
                </payex_payment_fee>
            </totals>
        </pdf>

        <events>
            <sales_order_invoice_save_after>
                <observers>
                    <payex>
                        <type>singleton</type>
                        <class>payex/observer</class>
                        <method>sales_order_invoice_save_after</method>
                    </payex>
                </observers>
            </sales_order_invoice_save_after>
            <sales_quote_collect_totals_after>
                <observers>
                    <payex>
                        <type>singleton</type>
                        <class>payex/observer</class>
                        <method>sales_quote_collect_totals_after</method>
                    </payex>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_order_payment_place_end>
                <observers>
                    <payex>
                        <type>singleton</type>
                        <class>payex/observer</class>
                        <method>sales_order_payment_place_end</method>
                    </payex>
                </observers>
            </sales_order_payment_place_end>
        </events>
    </global>

    <!-- declare default configuration values for this module -->
    <default>
        <!-- 'payment' configuration section (tab) -->
        <payment>
            <!-- 'newmodule' configuration group (fieldset) -->
            <payex_cc>
                <!-- by default this payment method is inactive -->
                <active>0</active>
                <!-- model to handle logic for this payment method -->
                <model>payex/payment_CC</model>
                <!-- default title for payment checkout page and order view page -->
                <title>PayEx Payments</title>
                <paymentview>PX</paymentview>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <transactiontype>1</transactiontype>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>complete</order_status_capture>
                <clientlanguage>en-US</clientlanguage>
                <cleantime>20</cleantime>
                <responsive>0</responsive>
                <checkoutinfo>1</checkoutinfo>
                <discount_calc>advanced</discount_calc>
            </payex_cc>

            <payex_billing_agreement>
                <active>0</active>
                <model>payex/payment_agreement</model>
                <title>PayEx Billing Agreement</title>
                <transactiontype>1</transactiontype>
                <allow_billing_agreement_wizard>0</allow_billing_agreement_wizard>
                <agreementurl>http://example.com</agreementurl>
                <maxamount>1000</maxamount>
            </payex_billing_agreement>

            <!-- 'newmodule' configuration group (fieldset) -->
            <payex_bankdebit>
                <!-- by default this payment method is inactive -->
                <active>0</active>
                <!-- model to handle logic for this payment method -->
                <model>payex/payment_bankdebit</model>
                <!-- default title for payment checkout page and order view page -->
                <title>PayEx Bank Debit</title>
                <allowspecific>0</allowspecific>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <debug>1</debug>
                <order_status>1</order_status>
                <banks>NB,FSPA,SEB,SHB</banks>
                <clientlanguage>en-US</clientlanguage>
                <cleantime>20</cleantime>
                <responsive>0</responsive>
                <checkoutinfo>1</checkoutinfo>
                <discount_calc>advanced</discount_calc>
            </payex_bankdebit>

            <!-- 'newmodule' configuration group (fieldset) -->
            <payex_wywallet>
                <!-- by default this payment method is inactive -->
                <active>0</active>
                <!-- model to handle logic for this payment method -->
                <model>payex/payment_wywallet</model>
                <!-- default title for payment checkout page and order view page -->
                <title>PayEx WyWallet</title>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <transactiontype>1</transactiontype>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>complete</order_status_capture>
                <clientlanguage>en-US</clientlanguage>
                <cleantime>20</cleantime>
                <responsive>0</responsive>
                <checkoutinfo>1</checkoutinfo>
                <discount_calc>advanced</discount_calc>
            </payex_wywallet>

            <!-- 'newmodule' configuration group (fieldset) -->
            <payex_masterpass>
                <!-- by default this payment method is inactive -->
                <active>0</active>
                <!-- model to handle logic for this payment method -->
                <model>payex/payment_MasterPass</model>
                <!-- default title for payment checkout page and order view page -->
                <title>PayEx MasterPass</title>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <transactiontype>1</transactiontype>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>complete</order_status_capture>
                <clientlanguage>en-US</clientlanguage>
                <cleantime>20</cleantime>
                <discount_calc>advanced</discount_calc>
            </payex_masterpass>

            <!-- 'newmodule' configuration group (fieldset) -->
            <payex_financing>
                <!-- by default this payment method is inactive -->
                <active>0</active>
                <!-- model to handle logic for this payment method -->
                <model>payex/payment_financing</model>
                <!-- default title for payment checkout page and order view page -->
                <title>PayEx Financing Invoice</title>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>complete</order_status_capture>
                <clientlanguage>en-US</clientlanguage>
                <paymentfee>0</paymentfee>
                <paymentfee_tax_class>0</paymentfee_tax_class>
                <cleantime>20</cleantime>
                <replace_illegal>1</replace_illegal>
                <replacement_char>-</replacement_char>
                <ssn_check>1</ssn_check>
                <discount_calc>advanced</discount_calc>
            </payex_financing>

            <!-- 'newmodule' configuration group (fieldset) -->
            <payex_partpayment>
                <!-- by default this payment method is inactive -->
                <active>0</active>
                <!-- model to handle logic for this payment method -->
                <model>payex/payment_PartPayment</model>
                <!-- default title for payment checkout page and order view page -->
                <title>PayEx Financing Credit Account</title>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>complete</order_status_capture>
                <clientlanguage>en-US</clientlanguage>
                <paymentfee>0</paymentfee>
                <paymentfee_tax_class>0</paymentfee_tax_class>
                <cleantime>20</cleantime>
                <replace_illegal>1</replace_illegal>
                <replacement_char>-</replacement_char>
                <ssn_check>1</ssn_check>
                <discount_calc>advanced</discount_calc>
            </payex_partpayment>

            <!-- 'newmodule' configuration group (fieldset) -->
            <payex_invoice>
                <!-- model to handle logic for this payment method -->
                <model>payex/payment_invoice</model>
                <active>0</active>
                <!-- default title for payment checkout page and order view page -->
                <title>PayEx Invoice Payments (Ledger Service)</title>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <transactiontype>1</transactiontype>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>complete</order_status_capture>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <additionalValues>INVOICE_COUNTRY=SE</additionalValues>
                <clientlanguage>en-US</clientlanguage>
                <distribution>11</distribution>
                <paymentfee>0</paymentfee>
                <paymentfee_tax_class>0</paymentfee_tax_class>
                <invoicetext>Invoice text</invoicetext>
                <invoiceduedays>15</invoiceduedays>
                <unapproved>0</unapproved>
                <credit_check>0</credit_check>
                <discount_calc>advanced</discount_calc>
            </payex_invoice>

            <!-- 'newmodule' configuration group (fieldset) -->
            <payex_swish>
                <!-- by default this payment method is inactive -->
                <active>0</active>
                <!-- model to handle logic for this payment method -->
                <model>payex/payment_swish</model>
                <!-- default title for payment checkout page and order view page -->
                <title>Swish Payments (via PayEx)</title>
                <allowspecific>0</allowspecific>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <debug>1</debug>
                <order_status>1</order_status>
                <clientlanguage>en-US</clientlanguage>
                <cleantime>20</cleantime>
                <responsive>0</responsive>
                <checkoutinfo>1</checkoutinfo>
                <discount_calc>advanced</discount_calc>
            </payex_swish>

            <!-- 'newmodule' configuration group (fieldset) -->
            <payex_gc>
                <active>0</active>
                <model>payex/payment_GC</model>
                <title>Purchase using PayEx Gift Card</title>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <transactiontype>1</transactiontype>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>complete</order_status_capture>
                <clientlanguage>en-US</clientlanguage>
                <cleantime>20</cleantime>
                <responsive>0</responsive>
                <checkoutinfo>1</checkoutinfo>
                <discount_calc>advanced</discount_calc>
            </payex_gc>

            <!-- 'newmodule' configuration group (fieldset) -->
            <payex_evc>
                <active>0</active>
                <model>payex/payment_EVC</model>
                <title>Purchase using Electronic Value Codes</title>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <transactiontype>1</transactiontype>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>complete</order_status_capture>
                <clientlanguage>en-US</clientlanguage>
                <cleantime>20</cleantime>
                <responsive>0</responsive>
                <checkoutinfo>1</checkoutinfo>
                <discount_calc>advanced</discount_calc>
            </payex_evc>

            <!-- 'newmodule' configuration group (fieldset) -->
            <payex_mobilepay>
                <active>0</active>
                <model>payex/payment_mobilepay</model>
                <title>MobilePay Online</title>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <transactiontype>1</transactiontype>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>complete</order_status_capture>
                <clientlanguage>en-US</clientlanguage>
                <cleantime>20</cleantime>
                <discount_calc>advanced</discount_calc>
            </payex_mobilepay>
        </payment>

        <tax>
            <cart_display>
                <payex_fee>3</payex_fee>
            </cart_display>
            <sales_display>
                <payex_fee>3</payex_fee>
            </sales_display>
        </tax>
    </default>

    <adminhtml>
        <!-- Updates layout... -->
        <layout>
            <updates>
                <payex>
                    <file>payex/adminhtml.xml</file>
                </payex>
                <payment_fee>
                    <file>payex/payment_fee.xml</file>
                </payment_fee>
            </updates>
        </layout>

        <events>
            <controller_action_predispatch>
                <observers>
                    <payex_check_updates>
                        <type>singleton</type>
                        <class>payex/feed</class>
                        <method>check</method>
                    </payex_check_updates>
                </observers>
            </controller_action_predispatch>
        </events>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <payex_ssn>
                                            <title>Social Security Number</title>
                                        </payex_ssn>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <frontend>
        <!-- Routes... -->
        <routers>
            <payex>
                <use>standard</use>
                <args>
                    <module>PayEx_Payments</module>
                    <frontName>payex</frontName>
                </args>
            </payex>
        </routers>

        <!-- Translations... -->
        <translate>
            <modules>
                <PayEx_Payments>
                    <files>
                        <default>PayEx_Payments.csv</default>
                    </files>
                </PayEx_Payments>
            </modules>
        </translate>

        <!-- Updates layout... -->
        <layout>
            <updates>
                <payex_masterpass>
                    <file>payex/masterpass.xml</file>
                </payex_masterpass>
                <payment_fee>
                    <file>payex/payment_fee.xml</file>
                </payment_fee>
                <social_security_number>
                    <file>payex/social_security_number.xml</file>
                </social_security_number>
            </updates>
        </layout>
    </frontend>

    <crontab>
        <jobs>
            <payex_clear_pending_orders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>payex/observer::clear_pending_orders</model>
                </run>
            </payex_clear_pending_orders>
        </jobs>
    </crontab>
</config>
